@mixin header{
  font-size: 24px;
  line-height: 32px;
  font-family: verdana;
}

@mixin paragraph{
  font-size: 13px;
  line-height: 18px;
  font-family: verdana;
}

@mixin tab-header{
  font-size: 36px;
  line-height: 44px;
  font-family: verdana;
}

@mixin tab-subheader{
  font-size: 24px;
  line-height: 32px;
  font-family: verdana;
}

@mixin tab-paragraph{
  font-size: 14px;
  line-height: 22px;
  font-family: verdana;
}

/* media query for mobile */
@mixin small {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

/* media query for tablet */
@mixin medium {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

/* media query for landscape, medium pixel density desktops */
@mixin large {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

/* media query for high pixel density desktops */
@mixin huge {
  @media only screen and (min-width: 1440px) {
    @content;
  }
}