.form {
  background-color: $bright-green;
  justify-content: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &__label {
    color: $dark-blue;
    margin-bottom: 8px;
    font-family: verdana;
    font-size: 18px;
    line-height: 24px;
  }

  &__box{
      margin-bottom: 16px;
  }

  &__container{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
  }

  &__box{
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
  }

  &__label{
    margin-right: 12px;
  }

  &__tracking-container{
    margin-top: 32px;
    width: 90%;
  }
  &__post-container{
    border-top-style: solid;
    border-color: $dark-blue;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  &__tracking-header{
    @include header;
    color: $dark-blue;
    margin-bottom: 12px;
  }
  &__post-text{
    @include paragraph;
    color: $dark-blue;
  }
}

@include medium{
  .form{
    &__label{
      @include tab-subheader;
    }
    &__tracking-header{
      @include tab-header;
    }
     &__post-text{
     @include header;
  }
  }
}